:root{
    --dark-color: #241c2b;
}

body.light-mode{
    background: var(--dark-color);
}

body.light-mode header{
    background: var(--dark-color);
    border-bottom: .1rem solid rgba(255, 255, 255, 0.243);
}

body.light-mode header a{
    color: white;
}

body.light-mode .center-content{
    background: var(--dark-color);
}

body.light-mode .center-content h1{
    color: rgb(242, 218, 247);
}
body.light-mode .center-content h2{
    color: rgb(226, 83, 255);
}

body.light-mode p.light-mode{
    color: white;
}
body.light-mode .hero .center-content .random-img{
    background-color: rgba(226, 83, 255, 0);
}

