@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&family=Open+Sans:wght@400;500&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url(_mixins.scss);
:root {
  --bold-font: "Montserrat", sans-serif;
  --main-font: "Poppins", sans-serif;
  --second-font: "Open Sans", sans-serif;
  --main-color: tomato;
  --main-color-darker: rgb(254, 70, 38);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: var(--main-font);
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bold-font);
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100vw;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: tomato;
  height: 100%;
  position: absolute;
}
header ul {
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5rem;
}
header ul li {
  padding: 1rem;
  list-style: none;
}
header ul li .cv {
  background: tomato;
  color: white;
  padding: 1rem;
}
header ul li .cv:hover {
  background: var(--main-color-darker);
  color: white;
}

.menu {
  border-bottom: 1px solid rgba(128, 128, 128, 0.172);
  background: #000;
}
.menu a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
  padding: 8px 0;
}
.menu .normal:hover {
  color: tomato;
}
.menu .normal:hover::before {
  transform: scale3d(1, 1, 1);
}
.menu .normal::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.menu-1 {
  background: #ffffff;
}
.menu-1 .normal::before {
  background: tomato;
  transform-origin: 100% 50%;
}
.menu-1 .normal:hover::before {
  transform-origin: 0 50%;
}

.hero {
  width: 100vw;
  height: 100vh;
}
.hero::before {
  content: "";
  display: block;
  height: 5rem;
}
.hero .center-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: 1rem auto;
}
.hero .center-content .hero-text {
  max-width: 40%;
}
.hero .center-content .hero-text p {
  line-height: 2rem;
  word-spacing: 0.6rem;
  text-align: justify;
}
.hero .center-content .hero-text h1 {
  font-size: 3.5rem;
}
.hero .center-content .hero-text h2 {
  font-size: 2rem;
}
.hero .center-content .hero-text .flex-cv {
  display: flex;
  gap: 1rem;
}
.hero .center-content .hero-text .flex-cv .hero-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 12rem;
  background: tomato;
  color: white;
  padding: 1rem;
  transition: 300ms ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  margin-top: 1rem;
}
.hero .center-content .hero-text .flex-cv .hero-cv:hover {
  background: var(--main-color-darker);
  border-radius: 1rem;
}
.hero .center-content .bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.hero .center-content .random-img {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s ease;
}

/*# sourceMappingURL=style.css.map */
