@import url(_mixins.scss);

:root {
	--bold-font: "Montserrat", sans-serif;
	--main-font: "Poppins", sans-serif;
	--second-font: "Open Sans", sans-serif;
    --main-color: tomato;
    --main-color-darker: rgb(254, 70, 38);
}

body {
	scroll-behavior: smooth;
	font-family: var(--main-font);
}
html {
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--bold-font);
}

h2 {
	font-size: clamp(28px, 2vw, 50px);
}

a {
	text-decoration: none;
}

header {
	position: fixed;
	width: 100vw;
	z-index: 3;

	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem;
		font-size: 1.5rem;
		color: tomato;
		height: 100%;
		position: absolute;
	}
	ul {
		display: flex;
		background: #ffffff;
		align-items: center;
		justify-content: flex-end;
        margin-right: 1.5rem;
		li {
			padding: 1rem;
			list-style: none;

            @mixin cv-style{
                background: tomato;
                color: white;
                padding: 1rem;
            }
			.cv {
                @include cv-style();

				&:hover {
					background: var(--main-color-darker);
					color: white;
				}
			}
		}
	}
}
.menu {
	// border-bottom: 1px solid rgba(128, 128, 128, 0.172);
	background: #000;
	a {
		font-size: 1rem;
		text-decoration: none;
		color: black;
		display: block;
		position: relative;
		padding: 8px 0;
	}
	.normal {
		&:hover {
			color: tomato;
			&::before {
				transform: scale3d(1, 1, 1);
			}
		}
		&::before {
			content: "";
			width: 100%;
			height: 4px;
			position: absolute;
			left: 0;
			bottom: 0;
			background: #fff;
			transition: 0.5s transform ease;
			transform: scale3d(0, 1, 1);
			transform-origin: 0 50%;
		}
	}
}
.menu-1 {
	background: #ffffff;
	.normal {
		&::before {
			background: tomato;
			transform-origin: 100% 50%;
		}
		&:hover {
			&::before {
				transform-origin: 0 50%;
			}
		}
	}
}
.hero {
	width: 100vw;
	height: 100vh;
	// background: #c7c7c7;
	&::before {
		content: "";
		display: block;
		height: 5rem;
	}
	.center-content {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 80%;
		height: 80%;
		margin: 1rem auto;
		// background: yellow;
		gap: 2rem;

		.hero-text {

			width: fit-content;
			padding: 1rem;
			// background: tomato;


			span{
				transition: 1s ease;
				background: tomato;
			}

			span:hover{
				background: linear-gradient(to left, white 50%, tomato 50%) right;
				background-size: 200% 100%;
			}

			p {
				line-height: 2rem;
				word-spacing: 0.2vw;
                text-align: justify;
				font-size: clamp(16px, 1vw, 30px);
				color: #222222;
			}
			h1 {
				font-size: clamp(50px, 4vw, 65px);
				color: #222222;
			}
			h2 {
				font-size: clamp(28px, 2vw, 50px);
				color: #383838;
			}

            .flex-cv{
                display: flex;
                gap: 1rem;
				z-index: 1;
				
                .hero-cv{
					display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;
                    width: 12rem;
                    background: tomato;
                    color: white;
                    padding: 1rem;
                    transition: 300ms ease;
					animation-duration: 3s;
					animation-iteration-count: infinite;
					transform-origin: bottom;
					margin-top: 1rem;
					z-index: 2;

                    &:hover{
                        background: var(--main-color-darker);
                        border-radius: 1rem;
                    }
                }
            }

		}

		.bounce {
			animation-name: bounce;
			animation-timing-function: ease;
		}
		@keyframes bounce {
			0%   { transform: translateY(0); }
			50%  { transform: translateY(-15px); }
			100% { transform: translateY(0); }
		}


		.random-img {
            width: 28rem;
            height: 28rem;
			border-radius: 50%;
			cursor: pointer;
			margin-top: 2rem;
			transition: all 0.3s ease;
		}
	}
}


.projetos{
	width: 100vw;
	height: 100vh;
    background: #7d84b2;
	padding: 2rem;
}

// .sobre{
//     // background: #000;
//     height: 100vh;
//     width: 100vw;
// }

// .contato{
//     // background: green;
//     width: 100vw;
//     height: 100vh;

// }

@media screen and (max-width: 992px) {
	nav{
		display: none;
	}

	.random-img{
		display: none;
	}

}

@media screen and (max-width: 768px) {
	.random-img{
		display: none;
	}

	.hero-text{
		margin: 0 auto;
	}

	.hero::before{
		height: 5%;
	}
}