body {
    scroll-behavior: smooth;
}



header {
    position: fixed;
    width: 100vw;
    display: none;
    opacity: 0;

    &::after {
        content: "";
        display: block;
    }


    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        font-size: 1.5rem;
        background: green;
        height: 100%;
        position: absolute;

    }
}

ul {
    display: flex;
    background: #fff;
    padding: 1rem;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
    background: purple;

    li {
        padding: 1rem;
        background: yellow;

        a {
            color: black;
        }

        .cv {
            background: tomato;
            color: white;
            padding: 1rem;
        }
    }
}

.hero {
    background: burlywood;
    width: 100vw;
    height: 100vh;
    border: 10px solid black;

    &::before{
        content: "";
        display: block;
        height: 10rem;
        background: rgb(141, 141, 230);
    }

    .center-content{
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding: 3rem;
    }
}

@media screen and (min-width: 1000px) {
    header {
        display: initial;
    }
}