*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    margin: 0;
    padding: 0;
    background-color: rgb(31, 29, 29);
    width: 30%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.header {
    display: flex;
    width: 100%;
}
.header span{
    color: white;
}

.picture-container{
    display: flex;
    justify-content: center;
    align-items: center;
}