.nav{
    display: block;
    background: #000;
    width: 100%;
    height: 14vh;
}

.topnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #E6E3E3;
    position: fixed;
    z-index: 100;
}

.topnav .logo{
    padding: 1.5rem;
    background-color: green;
}

.topnav .logo a{
    height: 100%;
    color: blue;
}

.topnav ul{
    display: flex;
    position: relative;
    top: 0;
    padding-right: 3rem;
}
.topnav li{
    background: yellow;
    padding: 2rem 1rem;
}

.topnav ul .nav-items{
    background: #ff6060;
    color: wheat;
    padding: .5rem;
    position: relative;
}

.topnav .nav-items:hover {
    color: tomato;
    border-radius: 1rem;
}

.topnav .nav-items:before {
    content: "";
    width: 100%;
    height: .25rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background: tomato;
    transition: 0.4s transform ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 50% 50%;
}

.topnav .nav-items:hover::before {
    transform-origin: 50% 50%;
    background: tomato;
}

.topnav .nav-items:hover::before {
    transform: scale3d(.8, .8, .8);
}

#menuToggle {
    display: block;
    position: fixed;
    background: var(--white-bg);
    z-index: 1;
    width: auto;
    height: 100vh;
    -webkit-user-select: none;
    user-select: none;
}

.hamburguer{
    padding: 2.5rem;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;

    opacity: 0;

    z-index: 2;

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    background: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    padding: 50px;
    padding-top: 125px;
    overflow-y: hidden;

    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-110%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    background: #ededed;
}

#menuToggle input:checked~ul {
    transform: none;
}

.main-container{
    display: flex;
    width: 100vw;
    height: calc(100vh - 14vh);
    /* background: purple; */
    justify-content: space-around;
    align-items: center;
    position: relative;
    
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background: blue; */
    margin: 0 auto;
    max-width: 100%;
}

.main-content h1{
    font-size: 4vw;
}
.main-content h2{
    color: #111111;
    font-size: 2vw;
    margin-bottom: 1rem;
}

.summary span {
    background: linear-gradient(to left, var(--white-bg) 50%, rgba(255, 99, 71, 0.747) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .5s ease-in-out;
}

.main-content p{
    font-size: 1.5vw;
    line-height: 2rem;
    text-align: justify;
}

.main-container .random-img {
    background-color: #ddd;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    transition: 200ms ease-in-out;
    cursor: pointer;
    position: relative;
    right: -5rem;
}

.main-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    color: #ffffff;
    margin-top: 1rem;
    padding: 1rem 1rem;
    align-items: center;
    transition: 150ms;
}

.resume-buttons {
    display: flex;
    padding-top: .5rem;
    justify-content: flex-start;
    gap: 1rem;
    /* background: forestgreen; */
}

a:hover{
    border-radius: .8rem;
    background: rgb(202, 36, 6);
}

.random-img:hover {
    transform: scale(120%);
}

.projects{
    display: block;
    width: 100vw;
    height: 100vh;
}

.about{
    width: 100vw;
    height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(24, 23, 23); */
    border-top: 1px solid grey;
    height: 3.5rem;
}

.footer-icons {
    width: 2rem;
    margin: 0 .5rem;
    transition: all ease 100ms;
}

.footer-icons:hover {
    transform: scale(140%);
}


@media screen and (max-width: 992px) {
    .topnav, .nav{
        display:none;
    }

    .main-container{
        /* background: yellow; */
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    .main-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
    }

    .summary{
        position: relative;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        top: 10vh;
    }
    
    .summary h1{
        font-size: 12vw;
    }
    .summary h2{
        font-size: 7vw;
    }
    .summary p{
        font-size: 4vw;
    }
    .main-content a{
        font-size: 3vw;
        width: 12rem;
        height:4rem;
    }


}

@media screen and (min-width: 992px) {
    #menuToggle {
        display: none;
    }
}

@media screen and (max-width:1000px) {
    .random-img{
    display: none;
    
}
}

@media screen and (max-width: 600px){

    .hamburguer{
        padding: 1.5rem;
    }

    #menuToggle input{
        top: 1.4rem;
        left: 1.3rem;
    }
    
    .summary h1{
        font-size: 10.3vw;
    }
    .summary h2{
        font-size: 5.5vw;
    }
    .summary p{
        font-size: 3.4vw;
        line-height: 4vh;
    }

    .main-content{
        max-width: 100vw;
        overflow-x: hidden;
        padding-top: 0;
        padding: 7% 15%;
    }

    .main-content .resume-buttons a{
        font-size: 2.7vw;
        
    }
    .main-container p{
        color: rgb(0, 0, 0);
    }

}

@media screen and (min-width:601px) {
    .main-content{
        background: chartreuse;
        padding: 5% 10%;
        max-width: 100%;
    }

    .hamburguer{
        padding: 1.5rem;
    }

    #menuToggle input{
        top: 1.4rem;
        left: 1.3rem;
    }

    .summary h1{
        font-size: 7vw;
    }
    .summary h2{
        font-size: 5vw;
    }
    .summary p{
        font-size: 2.7vw;
        line-height: 5vh;
    }

    .main-content a{
        font-size: 1.2rem;
        margin-left: 6%;
        min-height: 4rem;
    }

}

@media screen and (min-width:768px) {
    .main-content{
        background: seagreen;
    }
    
    .hamburguer{
        padding: 1.5rem;
    }

    #menuToggle input{
        top: 1.4rem;
        left: 1.3rem;
    }

    .summary h1{
        font-size: 6vw;
    }
    .summary h2{
        font-size: 4.5vw;
    }
    .summary p{
        font-size: 2.2vw;
        line-height: 4vh;
    }

    .main-content a{
        font-size: 1.2rem;
        margin-left: 4.5%;
        min-width: 33%;
        min-height: 4rem;
    }
}