* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 65.2%;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

:target:before {
    content: "";
    display: block;
    height: 12rem;
    margin: -12rem 0 0; }

nav {
    background-color: #18171D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav .nome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.nav-logo {
    width: 8rem;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 10rem;
}

.nome {
    display: flex;
    align-items: end;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-wrap: nowrap;
    white-space: nowrap;
}

img {
    margin-right: 1rem;
}

.input-container {
    display: flex;
    align-items: center;
    width: 30rem;
    transition: width 0.3s ease;
}

.input-container button {
    background-color: #fd437b;
    color: rgb(243, 225, 225);
    cursor: pointer;
    width: 8rem;
    padding: 0.8rem;
    border-radius: 2rem;
    border: none;
    margin-left: 1rem;
    transition: transform 0.1s linear;
}

.input-site {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid rgba(128, 128, 128, 0);
    font-size: 1.6rem;
    border-radius: 2rem;
    outline: none;
}

.input-container:hover {
    width: 40rem;
}

.topnav ul {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
}

.topnav ul li {
    margin-left: 1rem;
    white-space: nowrap;
}

.topnav ul li a {
    display: block;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(187, 180, 180);
    margin-left: 2rem;
    padding: 1rem;
}

.topnav ul li a:hover {
    background-color: #111014;
    color: #fd437b;
    border-radius: 1rem;
}

.container {
    display: flex;
    background-color: rgba(26, 24, 24, 0.986);
    background-image: url(img/main.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: rgb(216, 202, 202);
    width: 100%;
    height: 100vh;
}

.container h1:nth-child(1) {
    color: #0b798d;
    font-family: 'Fira Code', monospace;
    font-weight: 800;
    font-size: 2rem;
    margin: 0 0 0 35%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 17rem;
    animation: type 1.5s steps(40, end) forwards;
}

.container h1:nth-child(2) {
    opacity: 0;
    font-family: "Work Sans", sans-serif;
    margin: 0 auto auto auto;
    background: rgb(168, 162, 164);
    font-weight: 800;
    font-size: 10rem;
    width: 43rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    animation: shring-animation 1.5s steps(40, end) 2s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
    0% {
        background-position: 0 0;
        opacity: 0;
        width: 0;
    }
    1% {
        background-position: 0 0;
        opacity: 1;
        border-right: 1px solid rgb(255, 255, 255);
    }
    50% {
        background-position: 150px 0;
        opacity: 1;
        border-right: 1px solid rgb(255, 255, 255);
    }
    100% {
        background-position: 400px 0;
        opacity: 1;
        border-right: 1px solid rgb(255, 255, 255);
    }
}

@keyframes type {
    0% {
        width: 0;
    }
    1%, 99%{
        border-right: 1px solid rgb(255, 255, 255);
    }
    100%{
        border-right: none;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.content {
    text-align: center;
}

.content .iam {
    display: flex;
    padding: 0;
    text-align: left;
    align-self: flex-start;
    color: #c2c2c2;
    font-weight: 300;
}

.lucas {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 207, 148);
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .10em;
    font-size: 12vh;
}

.container h2 {
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}

.text .text-title, .text h2 {
    background-color: rgba(41, 40, 38, 0.103);
    border-radius: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}

#text-title {
    position: absolute; 
    top: 1.5rem;
    left: 13%;
    transform: translateX(-50%); 
    font-size: 2rem;
    background-color: rgba(41, 40, 38, 0.103);
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
}

.text {
    position: relative;
    padding: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(245, 222, 179, 0.445);
    height: 81vh;
    justify-content: space-between;
    gap: 1rem;
}

.text strong {
    color: rgb(196, 53, 53);
}

.text h2 {
    width: 60rem;
    font-size: 2rem;
    padding: 1rem;
}

.resume {
    margin-top: 2rem;
}

.resume h2 {
    font-size: 2rem;
    text-align: left;
    padding: 1rem;
}

#anime {
    text-align: center;
    margin-top: 3rem;
}

.anime-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 2.5rem;
    color: rgba(0, 0, 0, 0.822);
}

#anime{
    height: 100vh
}

.anime {
    display: grid;
    width: 100%;
    height: 25rem;
    background-color: #18171D;
    padding: 1rem;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.61);
    justify-content: center;
    grid-template-columns: repeat(5, 0.16fr);
    grid-template-rows: auto;
}

.anime-items {
    margin-top: 1.2rem;
    background-color: tomato;
    width: 15rem;
    height: 90%;
    transition: 200ms ease;
}

.anime-items:nth-child(1) {
    background-image: url(img/jujutsu.jfif);
    background-size: cover;
}

.anime-items:nth-child(2) {
    background-image: url(img/naruto-img.jpg);
    background-size: cover;
}

.anime-items:nth-child(3) {
    background-image: url(img/shingeki.jpeg);
    background-size: cover;
}

.anime-items:nth-child(4) {
    background-image: url(img/kimetsu.jpeg);
    background-size: cover;
}

.anime-items:nth-child(5) {
    background-image: url(img/hero.jpeg);
    background-size: cover;
}

.anime-items:hover {
    width: 19rem;
    height: 110%;
    cursor: pointer;
    z-index: 9999;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: rgb(26, 24, 24);
    color: white;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.foot-icon {
    width: 3rem;
    margin: 0 10px;
    transition: transform 0.1s linear;
}

.foot-icon:hover, .input-container button:hover {
    transform: scale(1.2); 
}
